<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.its.memberboard.DTO.BoardDTO" alias="boardDTO"></typeAlias>
        <typeAlias type="com.its.memberboard.DTO.MemberDTO" alias="memberDTO"></typeAlias>
        <typeAlias type="com.its.memberboard.DTO.CommentDTO" alias="commentDTO"></typeAlias>
    </typeAliases>
</configuration>