<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="boardInsert" parameterType="boardDTO" useGeneratedKeys="true" keyProperty="id">
        insert into board_table1 (boardTitle, boardWriter, boardContents, fileAttached)
        values (#{boardTitle}, #{boardWriter}, #{boardContents}, #{fileAttached})
    </insert>

    <insert id="boardFile" parameterType="boardDTO">
        insert into board_file_table1 (originalFilneName, storedFileName, boardId)
        values (#{originalFileName}, #{storedFileName}, #{id})
    </insert>

    <select id="boardList" resultType="boardDTO">
        select * from board_table1 order by id desc
    </select>

</mapper>














