<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="boardInsert" parameterType="boardDTO" useGeneratedKeys="true" keyProperty="id">
        insert into board_table1 (boardTitle, boardWriter, boardContents, fileAttached)
        values (#{boardTitle}, #{boardWriter}, #{boardContents}, #{fileAttached})
    </insert>

    <insert id="boardFile" parameterType="boardDTO">
        insert into board_file_table1 (originalFileName, storedFileName, boardId)
        values (#{originalFileName}, #{storedFileName}, #{id})
    </insert>

    <select id="boardList" resultType="boardDTO">
        select *
        from board_table1
        order by id desc
    </select>

    <select id="findById" parameterType="Long" resultType="boardDTO">
        select *
        from board_table1
        where id = #{id}
    </select>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="boardDTO">
        select *
        from board_table1
        order by id desc limit #{start}, #{limit}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(id)
        from board_table1
    </select>

    <select id="findByIdFile" parameterType="Long" resultType="boardDTO">
        select *
        from board_table1 b,
             board_file_table1 bf
        where b.id = bf.boardId
          and b.id = #{id}
    </select>

    <update id="hitsPlus" parameterType="Long">
        update board_table1
        set boardHits = boardHits + 1
        where id = #{id}
    </update>

    <select id="search" parameterType="java.util.HashMap" resultType="boardDTO">
        select *
        from board_table1
        where ${type} like concat('%', #{q}, '%')
        order by id desc
    </select>

    <delete id="delete" parameterType="Long">
        delete
        from board_table1
        where id = #{id}
    </delete>

</mapper>














