<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="memberSave" parameterType="memberDTO" useGeneratedKeys="true" keyProperty="id">
        insert into member_table1 (memberEmail, memberPassword, memberName, memberMobile, fileAttached)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{fileAttached})
    </insert>

    <insert id="fileSave" parameterType="memberDTO">
        insert into member_file_table1 (originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{id})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="String">
        select memberEmail from member_table1 where memberEmail = #{memberEmail}
    </select>

    <select id="login" resultType="memberDTO">
        select * from member_table1 where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

</mapper>














